@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&family=Teko:wght@700&display=swap');
:root {
    --headings: #3500D3;
    --text: #5AB9EA;
    --background: #0C0032;
    --headings-font-familiy: 'Teko', sans-serif;
    --text-font-familiy: 'Azeret Mono', monospace;
}

.Mountain {
    display: inline;
    scale: 40%;
    position: relative;
    
}

.Fuji {

    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.cloud1 {
    position: absolute;
    scale: 30%;
    left: 600px;
    top: -100px;
    animation-name: cloudright;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes cloudright {
    0% {left: 600px; top: -100px;}
    5% {left: 680px; top: -99px;}
    15% {left: 640px; top: -104px;}
    28% {left: 620px; top: -108px;}
    38% {left: 590px; top: -114px;}
    50% {left: 610px; top: -109px;}
    60% {left: 630px; top: -116px;}
    70% {left: 650px; top: -120px;}
    80% {left: 680px;top: -130px;}
    90% {left: 620px;top: -110px;}
    100% {left: 600px;top: -100px;}
}

.cloud2 {
    position: absolute;
    scale: 30%;
    left: 200px;
    top: -100px;
    animation-name: cloudleft;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes cloudleft {
    0% {left: 200px; top: -100px;}
    5% {left: 220px; top: -99px;}
    15% {left: 240px; top: -104px;}
    28% {left: 220px; top: -108px;}
    38% {left: 180px; top: -114px;}
    50% {left: 210px; top: -109px;}
    60% {left: 230px; top: -116px;}
    70% {left: 250px; top: -120px;}
    80% {left: 280px;top: -130px;}
    90% {left: 220px;top: -110px;}
    100% {left: 200px;top: -100px;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
    text-align: center;
    font-family: var(--text-font-familiy);
    color: var(--text);
}

h2 {
    color: var(--headings);
    font-family: var(--headings-font-familiy);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.profile-img {
    margin: 0 auto;
    margin-left: -36%;
    width: auto;
    height: 100%;
}

.image-cropper {
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

p {
    line-height: 2;
}
hr {
    border: dotted var(--text) 16px;
    width: 10%;
    border-bottom: none;
    margin: 5rem auto;
}
.middle-container {

    margin: 5rem 0;
}
.profile-image {
    width: 400;
    border-radius: 50%;
}

.skill-row {
    width: 50%;
    text-align: left;
    margin: 2rem auto;
    overflow: hidden;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 2rem;
}

.hobbies {

}

.Hobby-img{
    width: 35%;
    float: right;
}

.btn {
    background-color: #490cd6;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .btn:hover {

  }
  .btn:visited {
    
  }

  .bottom-container {

  }

  .bottom-link {
      display: inline-block;
      margin: 1rem;
  }
  .li-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
  }
.li-wrapper i, a {
    margin-right: 1rem;
    text-decoration: none;
    color: var(--text);
}
.copyright {
    margin: 5rem;
}




/*h1 {
    font-family: var(--headings-font-familiy);
}*/