@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&family=Teko:wght@700&display=swap');
:root {
    --headings: #3500D3;
    --text: #5AB9EA;
    --background: #0C0032;
    --headings-font-familiy: 'Teko', sans-serif;
    --text-font-familiy: 'Azeret Mono', monospace;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
    text-align: center;
    font-family: var(--text-font-familiy);
    color: var(--text);
}

h2 {
    color: var(--headings);
    font-family: var(--headings-font-familiy);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.profile-img {
    margin: 0 auto;
    margin-left: -36%;
    width: auto;
    height: 100%;
}

.image-cropper {
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

p {
    line-height: 2;
}
hr {
    border: dotted var(--text) 16px;
    width: 10%;
    border-bottom: none;
    margin: 5rem auto;
}
.middle-container {
    margin: 5rem 0;
}
.profile-image {
    width: 400;
    border-radius: 50%;
}

.skill-row {
    width: 50%;
    text-align: left;
    margin: 2rem auto;
    overflow: hidden;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 2rem;
}

.hobbies {

}

.Hobby-img{
    width: 35%;
    float: right;
}

.btn {
    background-color: #490cd6;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .btn:hover {

  }
  .btn:visited {
    
  }

  .bottom-container {

  }

  .bottom-link {
      display: inline-block;
      margin: 1rem;
  }
  .li-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
  }
.li-wrapper i, a {
    margin-right: 1rem;
    text-decoration: none;
    color: var(--text);
}
.copyright {
    margin: 5rem;
}
/*h1 {
    font-family: var(--headings-font-familiy);
}*/